<div class="row"style="margin-top: 70px;margin-right:10px;margin-left:5px">
    <br>
    
            <div class="col-md-4">
              </div>
              <div class="col-md-4">
    <!-- form card reset password -->
    <div class="card card-outline-secondary">
        
        <div class="card-body">
                <h5 class="mb-0" style="text-align:center" *ngIf="param=='reset-password-success'">Password Reset Successful</h5>
                <h5 class="mb-0" style="text-align:center" *ngIf="param=='reset-password'">Change Password</h5>
                <h5 class="mb-0" style="text-align:center" *ngIf="param!='emailSuccess' && param!='phoneSuccess' && param!='reset-password' && param!='reset-password-success'">Password Reset</h5>
                <h5 class="mb-0" style="text-align:center" *ngIf="param=='emailSuccess'">Check Your Inbox</h5>
                <h5 class="mb-0" style="text-align:center" *ngIf="param=='phoneSuccess'">Enter OTP</h5>

                <p style="font-size:14px;text-align:center;padding-top: 4%" *ngIf="param=='emailSuccess'">We’ve sent you a verification email. Open it and tap the  link to Change Password..</p>

                <p style="font-size:14px;text-align:center;padding-top: 4%" *ngIf="param=='phoneSuccess'">Please check your phone for a text message with your code. Your code is 6 characters in length...</p>
               
            <p style="font-size:14px;text-align:center;padding-top: 4%" *ngIf="param=='Options'">Verify your identity using your Phone Number or Email Address.</p>

            <p style="font-size:14px;text-align:center;padding-top: 4%" *ngIf="param=='phone'">Enter the username or email you signed up with and we’ll send you a verification code to the registered mobile number.</p>
            <p style="font-size:14px;text-align:center;padding-top: 4%" *ngIf="param=='reset-password-success'" >Your password has been reset successfully!<br> please log in to continue.. </p>

            <p style="font-size:14px;text-align:center;padding-top: 4%" *ngIf="param=='email'">Enter the Email you signed up with and we’ll send you a verification code.</p>
           <div  style="text-align:center" *ngIf="param=='Options'">
                <button type="button" class="btn btn-sm btn-outline-primary column"style="margin-right: 4px;" routerLink="/reset-options" [queryParams]="{type:'phone'}">Phone number</button>
                <button type="button" class="btn btn-sm btn-outline-primary column"style="margin-left: 4px;" routerLink="/reset-options" [queryParams]="{type:'email'}">Email address</button>
           </div>
           <div style="Padding-top: 4%;" *ngIf="param=='phoneSuccess'"> 
            <form [formGroup]="otpForm" autocomplete="off" (ngSubmit)="onOTPSubmit()" >
                    <div class="form-group" style="padding-left: 12%;padding-right: 12%"> 
                            <!-- <label for="email" class="control-label txtcolor" style="font-size:14px;" >Username</label> -->
                            <input type="text" formControlName="otpCode" title="Received OTP. " 
                            class="form-control" 
                            id="otpCode" name="otpCode"  (keypress)="otpkeyPress($event)"  [ngClass]="{ 'is-invalid':(invalidOTP()) && this.submitted}" placeholder="Enter Code">
                            <p *ngIf="invalidOTP()" id="OTP_error" class="invalid-feedback">Invalid OTP.</p>
                        </div>
            <div style="text-align:center;padding-top:3%" >
                <button type="submit" class="btn btn-outline-success">Submit</button>
            </div>
        </form>
        </div>
        
            <div style="Padding-top: 4%;" *ngIf="param=='phone'"> 
                <form [formGroup]="phoneForm" autocomplete="off" (ngSubmit)="onPhoneSubmit()" >
                        <div class="form-group" style="padding-left: 12%;padding-right: 12%"> 
                                <label for="email" class="control-label txtcolor" style="font-size:14px;" >Username</label>
                                <input type="text" formControlName="email" title="Registered Username. " 
                                class="form-control" [ngClass]="{ 'is-invalid':(invalidUserName()|| userExistError!='') && this.submitted}" 
                                id="email" name="email" (keyup)="ChangeHandler()" (keypress)="UsernamekeyPress($event)" >
                                <p *ngIf="invalidUserName()" id="userName_error" class="invalid-feedback">Invalid Username.</p>
                                <p *ngIf="userExistError!='' && !phoneForm.controls['email'].hasError('required')" id="userName_error1" class="invalid-feedback">User name not exists.</p>
                            </div>
                <!-- <div class="form-group" style="padding-left: 15%;padding-right: 15%"> 
                    <label for="phonenumber" class="control-label txtcolor" style="font-size:14px;" >Phone number</label>
                    <input  #myText type="text" (paste)="onPaste($event)" (input)="onInput(myText.value)" (keypress)="keyPress($event)" minlength=10 maxlength=10 formControlName="phonenumber" title="Registered Phonenumber. " 
                    class="form-control"[ngClass]="{ 'is-invalid': invalidphonenumber() }" 
                    id="phonenumber" name="phonenumber" >
                    <p *ngIf="invalidphonenumber()" id="phonenumber_error" class="invalid-feedback">Invalid Phone number.</p>
                </div> -->
                <div style="text-align:center;padding-top:3%" >
                    <button type="submit" class="btn btn-outline-success">Submit</button>
                </div>
            </form>
            </div>
            <div style="Padding-top: 4%;" *ngIf="param=='email'"> 
                <form [formGroup]="emailForm" (ngSubmit)="onEmailSubmit()" >
                <div class="form-group" style="padding-left: 12%;padding-right: 12%"> 
                    <label for="email" class="control-label txtcolor" style="font-size:14px;" >Email</label>
                    <input type="text" formControlName="email" title="Registered Email. " 
                    class="form-control"[ngClass]="{ 'is-invalid': invalidEmail() }" 
                    id="email" name="email" >
                    <p *ngIf="invalidEmail()" id="email_error" class="invalid-feedback">Invalid Email.</p>
                </div>
                <div style="text-align:center;padding-top:3%" >
                <button type="submit" class="btn btn-outline-success" >Submit</button>
                </div>
            </form>
            </div>
            <div style="Padding-top: 6%;" *ngIf="param=='reset-password'"> 
            <form [formGroup]="confirmPasswordForm" (ngSubmit)="onConfirmPasswordSubmit()" >
            <div class="form-group" > <!-- Password -->
                <label for="password" class="control-label">Password</label>
                <show-hide-password size="md" btnStyle="primary" [btnOutline]="false">
                <input type="password" formControlName="password" title="Password Must contain Atleast one Upper-case,lower-case,numeric letter & should be min 8 characters" class="form-control"[ngClass]="{ 'is-invalid': invalidPassword() }" (keypress)="PasswordkeyPress($event)" id="password" name="password" >
            </show-hide-password>
                <p *ngIf="invalidPassword()" id="password_error" style=" width: 100%;margin-top: .25rem;font-size: 80%;color: #dc3545;">Invalid password.</p>
            </div>
    
            <div class="form-group" > <!-- Password -->
                <label for="confirmPassword" class="control-label">Confirm Password</label>
                <show-hide-password size="md" btnStyle="primary" [btnOutline]="false">
                <input type="password" formControlName="confirmPassword" class="form-control"[ngClass]="{ 'is-invalid': (confirmPasswordForm.controls['confirmPassword'].hasError('NoPassswordMatch'))&& this.submitted}" (keypress)="PasswordkeyPress($event)"id="confirmPassword" name="confirmPassword" >
            </show-hide-password>
                <p *ngIf="confirmPasswordForm.controls['confirmPassword'].hasError('NoPassswordMatch')"id="confirmPassword_error1" style=" width: 100%;margin-top: .25rem;font-size: 80%;color: #dc3545;">Password do not match.</p>
            </div>
            <div style="text-align:center;padding-top:3%" >
                <button type="submit" class="btn btn-outline-success" >Submit</button>
                </div>
        </form>
        </div>
            <div style="text-align:center" *ngIf="param=='emailSuccess'|| param=='reset-password-success'" >
                <button  class="btn btn-outline-primary" routerLink="/login">Login</button>
                </div>
            <!-- <form class="form" role="form" autocomplete="off">
                <div class="form-group">
                    <label for="inputResetPasswordEmail">Email</label>
                    <input type="email" class="form-control" id="inputResetPasswordEmail" required="">
                    <span id="helpResetPasswordEmail" class="form-text small text-muted">
                            Password reset instructions will be sent to this email address.
                        </span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg float-right">Reset</button>
                </div>
            </form> -->
        </div>
    </div>
</div>

    <!-- /form card reset password -->
  </div>
  