@media screen and (max-width: 450px) {
.column{
    margin-right:2%;
}
}
@media screen and (min-width: 500px) {
.column {
flex:39%;
}
.column1 {
flex:55%;
}
}

.submit{
background: #fb641b;
color: #ffffff;
box-shadow:0 1px 2px 0 rgba(0,0,0,.2);
border: none;
font-family: Roboto,Arial,sans-serif;
margin-top: 4%;
margin-right: 3%;
padding: 10px 12px;
min-width: 150px;
text-transform: uppercase;
border-radius: 2px;
box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
font-size: 14px;
font-weight: 500;
position: relative;
letter-spacing: 1px;
    }