<br>
<div class="container-fluid padder" >
<div class="row d-flex">
<div class="col-md-1"></div>
<div class='col-md-6' >
    <div class="card card1"  *ngIf="!enableEdit">
        <div class="d-block">
            <div class="block-title custFont d-flex">
               <span> Delivery Address</span><span class='ml-auto'><i class="fas fa-edit"  (click)="editable()"></i></span>
            </div>
            <div class="block-address ">
                <span class='block-name custFont pr-1'>{{userName}}</span>
                <span>{{Address}}</span>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="enableEdit">
        <div class="card-header block-title custFont" style="background: #a0a09ed9;padding: 7px 12px;"><span style="color:white"> Delivery Address</span></div>
        <div class="card-body">
            <form  [formGroup]="addressForm"  >
                <div class="row">
                <div class="col-md-4 col-sm-6 form-group " >
                    <div class="md-form  md-outline">
                        <label for="name" id="namelabel"class="control-label" [ngClass]="{'active':lblactive}">Name</label>
                        <input type="text"   (keyup)="ChangeHandler1()"   formControlName="name" class="form-control"  autocomplete="off" [ngClass]="{ 'is-invalid': invalidUserName1() }">
                        
                        <p *ngIf="addressForm.controls['name'].hasError('required') " id="name_error2" class="invalid-feedback">Name is required.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-3 form-group">
                    <div class="md-form  md-outline">
                        <label for="phone" id="phonelabel" class="control-label"  [ngClass]="{'active':lblactive}">Phone #</label>
                        <input type="text"  formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': invalidPhone1() }" id="phone" name="phone"(keyup)="ChangeHandler1()"  (keypress)="PhonekeyPress($event)" (paste)="onPaste($event)"minlength=10 maxlength=10 autocomplete="off">
                    
                    
                    <p *ngIf="invalidPhone1() && !addressForm.controls['phone'].hasError('required')" id="phone_error1" class="invalid-feedback">Invalid phone #</p>
                    <p *ngIf="addressForm.controls['phone'].hasError('required') " id="phone_error2" class="invalid-feedback">Phone # is required.</p>
                    </div>
                    </div>

                    <div class="col-md-4 col-sm-3 form-group">
                        <label for="pincode" id="pincodelabel"  class="control-label"  [ngClass]="{'active':lblactive}">Pincode</label>
                        <input type="text"  formControlName="pincode" class="form-control" [ngClass]="{ 'is-invalid': invalidPincode() }" id="pincode" name="pincode" (keyup)="ChangeHandler1()"  (keypress)="PhonekeyPress($event)" (paste)="onPaste($event)"minlength=6 maxlength=6 autocomplete="off"  >
                    
                    
                    <p *ngIf="invalidPincode() && !addressForm.controls['pincode'].hasError('required')" id="pincode_error1" class="invalid-feedback">Invalid pincode</p>
                    <p *ngIf="addressForm.controls['pincode'].hasError('required') " id="pincode_error2" class="invalid-feedback">Pincode is required.</p>
                </div>
                <div class="col-md-6 col-sm-6 form-group">
                <div class="md-form  md-outline">
                    <label for="address" id="addresslabel" class="control-label"  [ngClass]="{'active':lblactive}">Address</label>
                    <textarea rows="3" formControlName="address" class="form-control" (keyup)="ChangeHandler1()"  id="address" name="address"  autocomplete="off" [ngClass]="{ 'is-invalid': invalidAddress()}" ></textarea > 
                
                
                <p *ngIf="addressForm.controls['address'].hasError('required') " id="address_error1" class="invalid-feedback">Address is required.</p>
                </div>
                </div>
                <div class="col-md-3 col-sm-3 form-group">
                <div class="md-form  md-outline">
                    <label for="city" id="citylabel" class="control-label"  [ngClass]="{'active':lblactive}">City</label>
                    <input type="text" (keyup)="ChangeHandler1()"  formControlName="city" class="form-control"  id="city" name="city"  autocomplete="off" [ngClass]="{ 'is-invalid': invalidCity()  }" >
                
            
                <p *ngIf="addressForm.controls['city'].hasError('required') " id="city_error1" class="invalid-feedback">City is required.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 form-group">
            <div class="md-form  md-outline">
                <label for="state" id="statelabel" class="control-label"  [ngClass]="{'active':lblactive}">State</label>
                <input type="text" (keyup)="ChangeHandler1()"  formControlName="state" class="form-control"  id="state" name="state"  autocomplete="off" [ngClass]="{ 'is-invalid': invalidState()}">
            
            
            <p *ngIf="addressForm.controls['state'].hasError('required') " id="state_error1" class="invalid-feedback">State is required.</p>
            </div>
            </div>
                </div>
                <div *ngIf="changeAlert1!=''" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>No Fields changed!</strong> You must change some fields to update.
                    <button type="button" class="close" (click)="changeAlertmethod1()"data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </form>  
            <div  class='d-flex' style="align-items:baseline;">
                <button class="btn btn-primary submit custFont" (click)="onSubmit()" > Save and Deliver Here</button>
                <button  *ngIf="displayCancelbtn"  class="button cancelbtn" (click)="editable('cancel')" > Cancel</button>
            </div>
        </div>
    </div>
    <div class="card card1" style="min-height: 40px;" *ngIf="!enableEdit1">
            <div class="d-block">
                <div class="block-title custFont d-flex">
                   <span> Order Summary</span>
                </div>
            </div>
    </div>
    <div class="card" *ngIf="enableEdit1">
            <div class="card-header block-title custFont" style="background: #a0a09ed9;padding: 7px 12px;"><span style="color:white">  Order Summary</span></div>
            <div class="card-body" style="padding: 0px">
                <div *ngFor="let product of CartProductArray" class="outerDiv">
                        <div class="innerDiv d-flex">
                            <a>
                            <div class=col-md-2 style="padding-left:0px;padding-right:0px;width:50%" >
                                    <img style="height:7rem;min-width: 5rem;" [src]="product.imagePath[0]"
                                    alt="{{product.name}}"
                                    >
                            </div>
                            </a>
                            <div class="midDiv" >
                                <div class="description">
                                    <a>{{product.description}}</a>
                                </div>
                                <div style="display: block;color: #878787;font-size: 12px;margin-top: 2%">
                                        {{product.name}}
                                </div>
                                <div style="margin-top: 2%">
                                <span style="font-size: 15px;font-weight: 500;color: #212121;margin-right: 10px;"><i class='fa fa-inr'></i>{{product.price-(product.price*(product.discount/100)) | number:'1.0-0'}}</span>
                                <span style="font-size: 11px;font-weight: 500;color: #878787;
                                text-decoration: line-through;margin-right: 10px;"><i class='fa fa-inr'></i>{{product.price}}</span>
                                <span style="font-size: 11px;font-weight: 500;color: #388e3c;">{{(product.discount/100) | percent}}%</span>
                                </div>
                                <div style="margin-top: 2%;justify-content: space-between" class="d-flex">
                                    <span style="font-size: 13px;font-weight: 500;color: #212121;margin-right: 10px;">Qty : {{product.quantity}}</span>
                                    <span style="font-size: 15px;font-weight: 500;color: #212121;"><i class='fa fa-inr'></i>{{product.price*product.quantity-((product.price*product.quantity)*(product.discount/100)) | number:'1.0-0'}}</span>
                                </div>
    
                            </div>
                        </div>
                    </div>
            </div>
        </div>
</div>
<div class="col-md-4">
    <div class='card ' style="padding: 2px 24px;">
        <span class="block-title custFont block1" style="border-bottom: 1px solid #f0f0f0;">Price details</span>
        <div class='block1 d-flex custFont1'>
        <span class="">Price</span> 
        <span class=""><i class='fa fa-inr'></i>{{cartTotal}}</span>
        </div>
        <div class='block1 d-flex custFont1' >
            <span class="">Delivery Charges</span> 
            <span class="" style="color: #388e3c;">FREE</span>
        </div>
        <div class="total d-flex block1"  >
            <span class="">Total Amount</span> 
            <span class="" ><i class='fa fa-inr'></i>{{cartTotal}}</span>
        </div>
        <div class=" block1"  >
            <div><span class=""  style="color: #388e3c; font-size: 15px;">You will save <i class='fa fa-inr'></i>{{cartSavings}} on this order</span> <div class=""  style=" font-size: 13px;">Order confirmation email will be sent to {{email}}</div></div>
            <div class="d-flex" style="justify-content:flex-end"> <button class="btn btn-primary submit custFont" style="margin-right: -13px;"  (click)="onSubmit()" > Continue</button>
            </div>
                
            </div>
    </div>
</div>

<div class="col-md-1"></div>
</div>
</div>
