.light-blue-backdrop {
    background-color: #5cb3fd;
  }

.big-banner{
    background-image: url('./images/cartempty.png');
      /* Full height */
  height: 200% !important;
width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
}
.jumbotron{
    height: 100vh;
}
.txtcolor{
    text-decoration-color: white
}