<div class="container">
    <br>
    
<div class="row">
        <div class="col-md-4">
          </div>
          <div class="col-md-4">
       <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
    
            <div class="form-group" > <!-- First Name -->
                <label for="username" class="control-label">Username</label>
                <input type="text" formControlName="username" title="Registered Username or Email. " 
                class="form-control"[ngClass]="{ 'is-invalid': invalidUserName() }" 
                id="username" name="username" >
                <p *ngIf="invalidUserName()" id="username_error" class="invalid-feedback">Invalid Username.</p>
            </div>
        
            <div class="form-group" > <!-- Password -->
                <label for="password" class="control-label">Password</label>
                <input type="password" formControlName="password"  title="Password Must contain Atleast one Upper-case,lower-case,numeric letter & should be min 8 characters" class="form-control"[ngClass]="{ 'is-invalid': invalidPassword() }" id="password" name="password" >
                <p *ngIf="invalidPassword()" id="password_error" class="invalid-feedback">Invalid password.</p>
            </div>
            
            <div class="form-group is-invalid" style="text-align:center"> <!-- Login Button -->
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        
        </form>	
    </div>
</div>
</div>

