
<!-- Material Design Bootstrap -->
<!-- <link  href="/assets/css/mdb.min.css" rel="stylesheet" type="text/css"> -->
<!-- <link  href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- <div class="row" *ngIf="selectedProduct==null;"> -->
    <div class="row column">
    <!-- <div class="col-md-3" style="flex:23%;" >
    <div class="card" style="margin-top: 23px;" >
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
        </ul>
</div>
</div> -->
<div class="col-md-12">


<!-- <div class="container" style="padding-left: 0%;margin-left: 20%"> -->
  
  <!-- <div class="row"> -->
    <!-- <div class="col-md-12"> -->
      <!-- <app-recipe-list (recipeWasSelected)="selectedRecipe=$event"></app-recipe-list> -->
      <app-recipe-list></app-recipe-list>
  <!-- </div> -->
  <!-- <div class="col-md-7">
    <app-recipe-detail *ngIf=" selectedRecipe;else infoText" [recipes]="selectedRecipe" ></app-recipe-detail>
    <ng-template #infoText>
      <p>Please select a Recipe</p>
    </ng-template>
</div> --> 
<!-- </div> -->
</div>
<!-- </div> -->


</div>
<div class="row">
<br>
<br>
<br>
</div>


 <!-- Footer -->
 <section id="footer" style="margin-left: -10px !important">
  <div class="container"  >
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <!-- <div class="col-xs-12 col-sm-4 col-md-4" style="padding-left: 6%">
        <h5>ADF Fashion Wear</h5>
        <a>Create your own visual style... let it be unique for yourself and yet identifiable for others....</a>
        <<ul class="list-unstyled quick-links">
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
        </ul> 
      </div> -->
      <div class="col-xs-12 col-sm-6 col-md-6" style="padding-left: 6%">
        <h5>Products</h5>
        <ul class="list-unstyled quick-links">
            <p>
                <a href="">Ladies Kurtis</a> |  <a href="">Palazo</a> |  <a href="">Designer Tops</a> |   <a href="">Lingeries</a> |  <a href="">Jeggings</a> |  <a href="">Shawls</a>
              </p>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6" style="padding-left: 6%">
        <h5>Contact</h5>
         
      <a><i class="fas fa-home mr-3"></i># 130-B,Podanur Main Road,   Coimbatore</a>
              <br>
              
              <a style="padding-top: 2%"><i class="fas fa-envelope mr-3"></i> adffashionwear@gmail.com</a>
              <br>
            <a style="padding-top: 2%"><i class="fas fa-phone mr-3"></i> +91 9500770104</a>
       
      </div>
    </div>
    <div class="row" style="margin-top: 10px
    ">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>	
   
  </div>
  <div class="footer-copyright text-center py-3" style="overflow: hidden;
  color: rgba(255,255,255,0.6);
  background-color: rgba(0,0,0,0.4);text-align: center!important;padding-bottom: 0.7rem!important;padding-top: 0.7rem!important;">© 2020 Copyright:
      <a href="https://adffashionwear.now.sh/" style="font-size: .9rem;"> ADFFashionwear.com</a>
    </div>
</section>
