/* You can add global styles to this file, and also import other style files */
.modal-content {
    width: 350px;
    margin-left: 2px;
    margin-top: 55px;
    display: flex;
    flex: auto;
  }
  .icon{
    position: absolute;
    top: 33px;
    right: 7px;
    color: blueviolet;
    font-size: 22px;
  }
  .user-box{
    position: relative;
  }
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';