<section class="latest-product-area">
                <div class="product-btn d-flex justify-content-end align-items-end">
                    <!-- Section Tittle -->
                    <div class="col-md-12">
                        <div class="properties__button f-right">
                            <!--Nav Button  -->
                            <nav>                                                                                                
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="Kurti" data-toggle="tab" href="#nav-Kurti" role="tab" aria-controls="nav-Kurti" aria-selected="true">Kurti's</a>
                                    <a class="nav-item nav-link" id="Saree" data-toggle="tab" href="#nav-Saree" role="tab" aria-controls="nav-Saree" aria-selected="true">Saree</a>
                                    <a class="nav-item nav-link" id="Palazo" data-toggle="tab" href="#nav-Palazo" role="tab" aria-controls="nav-Palazo" aria-selected="false">Palazo</a>
                                    <a class="nav-item nav-link" id="Designer" data-toggle="tab" href="#nav-Designer" role="tab" aria-controls="nav-Designer" aria-selected="false">Designer Tops</a>
                                    <!-- <a class="nav-item nav-link" id="nav-Lingeries-tab" data-toggle="tab" href="#nav-Lingeries" role="tab" aria-controls="nav-Lingeries" aria-selected="false">Lingeries</a> -->
                                    <a class="nav-item nav-link" id="Jeggings" data-toggle="tab" href="#nav-Jeggings" role="tab" aria-controls="nav-Jeggings" aria-selected="false">Jeggings</a>
                                    <a class="nav-item nav-link" id="shawls" data-toggle="tab" href="#nav-shawls" role="tab" aria-controls="nav-shawls" aria-selected="false">shawls</a>
                                </div>
                            </nav>
                            <!--End Nav Button  -->
                        </div>
                    </div>
                </div>
                
        </section>

        <div style="margin-top: -35px">
        <app-recipes *ngIf="loadedFeature==='home'"></app-recipes>
        </div>