
<br>
<br>
        <div class="container-fluid">
          <section class="section"  *ngIf="param=='profile'" >
            <div class="row">
              <div class="col-lg-2 mb-4">
              </div>
              <div class="col-lg-8 mb-4">
    
                <div class="card" style="margin-bottom: 4%;">
    
                  <div style="padding: 3%" class='d-flex' >
                    <h5 class="mb-0" style="font-size: 18px;">Personal Information</h5><div style="margin-left: auto"><i class="fas fa-edit"  *ngIf="!enableEdit" (click)="editable()" style="color: #000000c2;
                      font-size: xx-large;"></i>
                      <i  *ngIf="enableEdit"class="fas fa-save" style="color: #82c91e;
                      font-size: xx-large; margin-right: 20px" title="Save" (click)="onSubmit()" [ngClass]="{'disabled':buttonEnabler}"></i>
                      <i class="fas fa-ban"  *ngIf="enableEdit" title="Reset" (click)="uneditable()" style="color: #b82121c2;
                      font-size: xx-large;"></i>
                      </div>
                  </div>
    
                  <div class="card-body">
    
                    <form  [formGroup]="userForm"  >
                      <div class="row">
                      <div class="col-md-6 form-group">
                            <label for="email" id="emaillabel" class="control-label" [ngClass]="{'active':lblactive}">E-mail</label>
                              <input type="text"  formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': (invalidEmail() || emailExistError!=''|| emailError!=''|| emailOTPFailed!='')}" id="email" name="email" (keyup)="EmailHandler()" (keypress)="emailkeyPress($event)" (paste)="onemailPaste($event)" autocomplete="off">
                            
                          <p *ngIf="invalidEmail() && !userForm.controls['email'].hasError('required')" id="email_error" class="invalid-feedback">Invalid email address.</p>
                          <p *ngIf="userForm.controls['email'].hasError('required') " id="email_error" class="invalid-feedback">Email is required.</p>
                          <p *ngIf="emailExistError!='' && !userForm.controls['email'].hasError('required')" id="email_error1" class="invalid-feedback">Email already Registered.</p>
                          <p *ngIf="emailError!='' && !userForm.controls['email'].hasError('required')" id="email_error2" class="invalid-feedback">Invalid Email.</p>
                          <p *ngIf="emailOTPFailed!='' && !userForm.controls['email'].hasError('required') " id="emailError2" class="invalid-feedback">Unable to send Otp to email.</p>
                      </div>
                        <div class="col-md-6 form-group">
              <label for="phone" id="phonelabel" class="control-label"  [ngClass]="{'active':lblactive}">Phone #</label>
              <input type="text"  formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': invalidPhone() ||phoneOTPFailed!='' }" id="phone" name="phone"  (keyup)="ChangeHandler()" (keypress)="PhonekeyPress($event)" (paste)="onPaste($event)"minlength=10 maxlength=10 autocomplete="off">
           
          
          <p *ngIf="invalidPhone() && !userForm.controls['phone'].hasError('required')" id="phone_error" class="invalid-feedback">Invalid phone #</p>
          <p *ngIf="userForm.controls['phone'].hasError('required') " id="phone_error" class="invalid-feedback">Phone # is required.</p>
          <p *ngIf="phoneOTPFailed!='' && !userForm.controls['phone'].hasError('required') " id="phone_error2" class="invalid-feedback">Unable to send Otp to phone.</p>
                       </div>
                        
                      </div>
                      <div *ngIf="changeAlert!=''" class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>No Fields changed!</strong> You must change some fields to update.
                        <button type="button" class="close" (click)="changeAlertmethod()"data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="card">
                  <div style="padding: 3%" class='d-flex' >
                    <h5 class="mb-0" style="font-size: 18px;">Address</h5><div style="margin-left: auto"><i class="fas fa-edit"  *ngIf="!enableEdit1" (click)="editable1()" style="color: #000000c2;
                      font-size: xx-large;"></i>
                      <i  *ngIf="enableEdit1"class="fas fa-save" style="color: #82c91e;
                      font-size: xx-large; margin-right: 20px" title="Save" (click)="onSubmit1()" [ngClass]="{'disabled':buttonEnabler}"></i>
                      <i class="fas fa-ban"  *ngIf="enableEdit1" title="Reset" (click)="uneditable1()" style="color: #b82121c2;
                      font-size: xx-large;"></i>
                      </div>
                  </div>
                  <div class="card-body">
    
                    <form  [formGroup]="addressForm"  >
                      <div class="row">
                      <div class="col-md-4 col-sm-6 form-group " >
                        <div class="md-form  md-outline">
                            <label for="name" id="namelabel"class="control-label" [ngClass]="{'active':lblactive}">Name</label>
                              <input type="text"   (keyup)="ChangeHandler1()"   formControlName="name" class="form-control"  autocomplete="off" [ngClass]="{ 'is-invalid': invalidUserName1() }">
                            
                              <p *ngIf="addressForm.controls['name'].hasError('required') " id="name_error2" class="invalid-feedback">Name is required.</p>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-3 form-group">
                          <div class="md-form  md-outline">
                              <label for="phone" id="phonelabel" class="control-label"  [ngClass]="{'active':lblactive}">Phone #</label>
                              <input type="text"  formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': invalidPhone1() }" id="phone" name="phone"(keyup)="ChangeHandler1()"  (keypress)="PhonekeyPress($event)" (paste)="onPaste($event)"minlength=10 maxlength=10 autocomplete="off">
                          
                          
                          <p *ngIf="invalidPhone1() && !addressForm.controls['phone'].hasError('required')" id="phone_error1" class="invalid-feedback">Invalid phone #</p>
                          <p *ngIf="addressForm.controls['phone'].hasError('required') " id="phone_error2" class="invalid-feedback">Phone # is required.</p>
                          </div>
                       </div>

                       <div class="col-md-4 col-sm-3 form-group">
                            <label for="pincode" id="pincodelabel"  class="control-label"  [ngClass]="{'active':lblactive}">Pincode</label>
                            <input type="text"  formControlName="pincode" class="form-control" [ngClass]="{ 'is-invalid': invalidPincode() }" id="pincode" name="pincode" (keyup)="ChangeHandler1()"  (keypress)="PhonekeyPress($event)" (paste)="onPaste($event)"minlength=6 maxlength=6 autocomplete="off"  >
                        
                        
                        <p *ngIf="invalidPincode() && !addressForm.controls['pincode'].hasError('required')" id="pincode_error1" class="invalid-feedback">Invalid pincode</p>
                        <p *ngIf="addressForm.controls['pincode'].hasError('required') " id="pincode_error2" class="invalid-feedback">Pincode is required.</p>
                     </div>
                     <div class="col-md-6 col-sm-6 form-group">
                      <div class="md-form  md-outline">
                          <label for="address" id="addresslabel" class="control-label"  [ngClass]="{'active':lblactive}">Address</label>
                          <textarea rows="3" formControlName="address" class="form-control" (keyup)="ChangeHandler1()"  id="address" name="address"  autocomplete="off" [ngClass]="{ 'is-invalid': invalidAddress()}" ></textarea > 
                      
                    
                      <p *ngIf="addressForm.controls['address'].hasError('required') " id="address_error1" class="invalid-feedback">Address is required.</p>
                      </div>
                   </div>
                   <div class="col-md-3 col-sm-3 form-group">
                    <div class="md-form  md-outline">
                        <label for="city" id="citylabel" class="control-label"  [ngClass]="{'active':lblactive}">City</label>
                        <input type="text" (keyup)="ChangeHandler1()"  formControlName="city" class="form-control"  id="city" name="city"  autocomplete="off" [ngClass]="{ 'is-invalid': invalidCity()  }" >
                    
                  
                    <p *ngIf="addressForm.controls['city'].hasError('required') " id="city_error1" class="invalid-feedback">City is required.</p>
                    </div>
                 </div>
                 <div class="col-md-3 col-sm-3 form-group">
                  <div class="md-form  md-outline">
                      <label for="state" id="statelabel" class="control-label"  [ngClass]="{'active':lblactive}">State</label>
                      <input type="text" (keyup)="ChangeHandler1()"  formControlName="state" class="form-control"  id="state" name="state"  autocomplete="off" [ngClass]="{ 'is-invalid': invalidState()}">
                  
                
                  <p *ngIf="addressForm.controls['state'].hasError('required') " id="state_error1" class="invalid-feedback">State is required.</p>
                  </div>
               </div>
                      </div>
                      <div *ngIf="changeAlert1!=''" class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>No Fields changed!</strong> You must change some fields to update.
                        <button type="button" class="close" (click)="changeAlertmethod1()"data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section *ngIf="param=='OtpVerify'" >
            <div class="row" style="margin: auto">
                <div class="col-lg-4 mb-4">
                  </div>
              <div class="col-lg-4 mb-4">
                <div class="card card-cascade narrower">
                  <div class="view view-cascade gradient-card-header mdb-color lighten-3">
                    <h5 class="mb-0 font-weight-bold">Verify </h5>
                  </div>
                  <div class="card-body card-body-cascade text-center">
    
      <form [formGroup]="OTPForm" (ngSubmit)="onOTPSubmit()" class="text-center" style="color: #757575;" >

          <div class="md-form mt-3">
              <input type="text"  formControlName="phone" class="form-control" id="phoneOTP" name="phone"  (keypress)="otpkeyPress($event)"  maxlength="6" autocomplete="off" [ngClass]="{ 'is-invalid': invalidphoneOTP() || phoneOTPError!=''}" >
              <label for="phoneOTP">Enter Otp sent to  {{phonetext}}</label>
          
          <p *ngIf="OTPForm.controls['phone'].hasError('required') " id="phoneOtp_error"  class="invalid-feedback">OTP is required.</p>
          <p *ngIf="phoneOTPError!='' && !OTPForm.controls['phone'].hasError('required') " id="phone_error1" class="invalid-feedback">Invalid OTP.</p>
          </div>
          <div class="md-form">
              <input type="text" formControlName="email" id="emailOTP" name="email"   (keypress)="otpkeyPress($event)" class="form-control" maxlength="6"autocomplete="off" [ngClass]="{ 'is-invalid': invalidemailOTP() || emailOTPError!='' }" >
              <label for="emailOTP">Enter Otp sent to {{emailtext}}</label>
              <p *ngIf="OTPForm.controls['email'].hasError('required') && invalidemailOTP()" id="emailOtp_error" class="invalid-feedback">OTP is required.</p>
              <p *ngIf="emailOTPError!='' && !OTPForm.controls['email'].hasError('required') " id="emailOtp_error1" class="invalid-feedback">Invalid OTP.</p>
          </div>

          <div class="row">
            <div class="col-md-12 text-center my-4">
              <input type="submit" value="Verify" class="btn btn-info btn-rounded" [ngClass]="{'disabled':buttonEnabler}">
            </div>
          </div>
      </form>
    
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section *ngIf="param=='phoneVerify'" >
            <div class="row" style="margin: auto">
                <div class="col-lg-4 mb-4">
                  </div>
              <div class="col-lg-4 mb-4">
                <div class="card card-cascade narrower">
                  <div class="view view-cascade gradient-card-header mdb-color lighten-3">
                    <h5 class="mb-0 font-weight-bold">Verify </h5>
                  </div>
                  <div class="card-body card-body-cascade text-center">
      <form [formGroup]="OTPForm" (ngSubmit)="onphoneOTPSubmit()" class="text-center" style="color: #757575;" >
          <div class="md-form mt-3">
              <input type="text"  formControlName="phone" class="form-control" id="phoneOTP" name="phone"  (keypress)="otpkeyPress($event)"  maxlength="6" autocomplete="off" [ngClass]="{ 'is-invalid': invalidphoneOTP() || phoneOTPError!=''}" >
              <label for="phoneOTP">Enter Otp sent to  {{phonetext}}</label>
          
          <p *ngIf="OTPForm.controls['phone'].hasError('required') " id="phoneOtp_error"  class="invalid-feedback">OTP is required.</p>
          <p *ngIf="phoneOTPError!='' && !OTPForm.controls['phone'].hasError('required') " id="phone_error1" class="invalid-feedback">Invalid OTP.</p>
          </div>
          <div class="row">
            <div class="col-md-12 text-center my-4">
              <input type="submit" value="Verify" class="btn btn-info btn-rounded" [ngClass]="{'disabled':buttonEnabler}">
            </div>
          </div>
      </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section *ngIf="param=='emailVerify'" >
            <div class="row" style="margin: auto">
                <div class="col-lg-4 mb-4">
                  </div>
              <div class="col-lg-4 mb-4">
                <div class="card card-cascade narrower">
                  <div class="view view-cascade gradient-card-header mdb-color lighten-3">
                    <h5 class="mb-0 font-weight-bold">Verify </h5>
                  </div>
                  <div class="card-body card-body-cascade text-center">
      <form [formGroup]="OTPForm" (ngSubmit)="onemailOTPSubmit()" class="text-center" style="color: #757575;" >
           <div class="md-form">
            <input type="text" formControlName="email" id="emailOTP" name="email"   (keypress)="otpkeyPress($event)" class="form-control" maxlength="6"autocomplete="off" [ngClass]="{ 'is-invalid': invalidemailOTP() || emailOTPError!='' }" >
            <label for="emailOTP">Enter Otp sent to {{emailtext}}</label>
            <p *ngIf="OTPForm.controls['email'].hasError('required') && invalidemailOTP()" id="emailOtp_error" class="invalid-feedback">OTP is required.</p>
            <p *ngIf="emailOTPError!='' && !OTPForm.controls['email'].hasError('required') " id="emailOtp_error1" class="invalid-feedback">Invalid OTP.</p>
        </div>
          <div class="row">
            <div class="col-md-12 text-center my-4">
              <input type="submit" value="Verify" [ngClass]="{'disabled':buttonEnabler}" class="btn btn-info btn-rounded" [ngClass]="{'disabled':buttonEnabler}">
            </div>
          </div>
      </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
    