<div class="container">
        <br>
<div class="row">
    <div class="col-md-4">
      </div>
      <div class="col-md-4">
   <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >

    <!-- && (userForm.get('name').dirty || userForm.get('name').touched -->
        <div class="form-group" > <!-- First Name -->
            <label for="name" class="control-label">UserName</label>
            <input type="text" formControlName="name" class="form-control"[ngClass]="{ 'is-invalid':( userForm.controls['name'].hasError('required')|| userExistError!='') && this.submitted}" id="name" name="name" (keyup)="ChangeHandler()">
            <p *ngIf="userForm.controls['name'].hasError('required') && this.submitted" id="userName_error" class="invalid-feedback">User name is Required.</p>
            <p *ngIf="userExistError!='' && !userForm.controls['name'].hasError('required')" id="userName_error1" class="invalid-feedback">User name already Exists.</p>
            <!-- <label
  class="text-danger"
  *ngIf="userForm.controls['name'].hasError('required')"
>
  UserName is Required!
</label> -->
        </div>
    
    
        <div class="form-group" > <!-- Email -->
            <label for="email" class="control-label">E-mail</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': invalidEmail() }" id="email" name="email" >
            <p *ngIf="invalidEmail() && !userForm.controls['email'].hasError('required')" id="email_error" class="invalid-feedback">Invalid email address.</p>
            <p *ngIf="userForm.controls['email'].hasError('required') " id="email_error" class="invalid-feedback">Email is Required.</p>
        </div>
    
        <div class="form-group" > <!-- Password -->
            <label for="password" class="control-label">Password</label>
            <input type="password" formControlName="password" title="Password Must contain Atleast one Upper-case,lower-case,numeric letter & should be min 8 characters" class="form-control"[ngClass]="{ 'is-invalid': invalidPassword() }" id="password" name="password" >
            <p *ngIf="invalidPassword()" id="password_error" class="invalid-feedback">Invalid password.</p>
        </div>

        <div class="form-group" > <!-- Password -->
            <label for="confirmPassword" class="control-label">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control"[ngClass]="{ 'is-invalid': (invalidPassword() ||userForm.controls['confirmPassword'].hasError('NoPassswordMatch'))&& this.submitted}" id="confirmPassword" name="confirmPassword" >
            <p *ngIf="userForm.controls['confirmPassword'].hasError('NoPassswordMatch')"id="confirmPassword_error1" class="invalid-feedback">Password do not match.</p>
        </div>

        <br>
        <div class="form-group is-invalid" style="text-align:center"> <!-- Register Button -->
            <button type="submit" class="btn btn-primary" >Register</button>
        </div>
    
    </form>	
</div>
</div>
</div>


