<div class="container">
        
<div class="row column" *ngIf="param=='register'">
        
    <div class="col-md-4">
      </div>
      <div class="col-md-4">
   <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >

    <!-- && (userForm.get('name').dirty || userForm.get('name').touched -->
        <div class="form-group" > <!-- First Name -->
            <label for="name" class="control-label">UserName</label>
            <input type="text" formControlName="name" class="form-control"[ngClass]="{ 'is-invalid':( userForm.controls['name'].hasError('required')|| userExistError!='') && this.submitted}" id="name" name="name" (keyup)="Usernamekeyup(username.value)" (keypress)="UsernamekeyPress($event)" #username>
            <p *ngIf="userForm.controls['name'].hasError('required') && this.submitted" id="userName_error" class="invalid-feedback">User name is required.</p>
            <p *ngIf="userExistError!='' && !userForm.controls['name'].hasError('required')" id="userName_error1" class="invalid-feedback">User name already exists.</p>
            <!-- <label
  class="text-danger"
  *ngIf="userForm.controls['name'].hasError('required')"
>
  UserName is Required!
</label> -->
        </div>
    
    
        <div class="form-group" > <!-- Email -->
            <label for="email" class="control-label">E-mail</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': (invalidEmail() || emailExistError!=''|| emailError!='')}" id="email" name="email" (keyup)="EmailHandler()" (keypress)="UsernamekeyPress($event)" (paste)="onemailPaste($event)" >
            <p *ngIf="invalidEmail() && !userForm.controls['email'].hasError('required')" id="email_error" class="invalid-feedback">Invalid email address.</p>
            <p *ngIf="userForm.controls['email'].hasError('required') " id="email_error" class="invalid-feedback">Email is required.</p>
            <p *ngIf="emailExistError!='' && !userForm.controls['email'].hasError('required')" id="email_error1" class="invalid-feedback">Email already Registered.</p>
            <p *ngIf="emailError!='' && !userForm.controls['email'].hasError('required')" id="email_error2" class="invalid-feedback">Invalid Email.</p>
        </div>
        <div class="form-group" > <!-- Email -->
            <label for="phone" class="control-label">Phone #</label>
            <input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': invalidPhone() }" id="phone" name="phone" (keypress)="PhonekeyPress($event)" (paste)="onPaste($event)"minlength=10 maxlength=10>
            <p *ngIf="invalidPhone() && !userForm.controls['phone'].hasError('required')" id="phone_error" class="invalid-feedback">Invalid phone #</p>
            <p *ngIf="userForm.controls['phone'].hasError('required') " id="phone_error" class="invalid-feedback">Phone # is required.</p>
        </div>
        <div class="form-group" > <!-- Password -->
            <label for="password" class="control-label">Password</label>
            <show-hide-password size="md" btnStyle="primary" [btnOutline]="false">
            <input type="password" formControlName="password" title="Password Must contain Atleast one Upper-case,lower-case,numeric letter & should be min 8 characters" (keypress)="PasswordkeyPress($event)" class="form-control"[ngClass]="{ 'is-invalid': invalidPassword() }" id="password" name="password" autocomplete="off">
        </show-hide-password>
        <p *ngIf="invalidPassword()" id="password_error" style=" width: 100%;margin-top: .25rem;font-size: 80%;color: #dc3545;">Invalid password.</p>
        </div>
       

        <div class="form-group" > <!-- Password -->
            <label for="confirmPassword" class="control-label">Confirm Password</label>
            <show-hide-password size="md" btnStyle="primary" [btnOutline]="false">
            <input type="password" formControlName="confirmPassword" (keypress)="PasswordkeyPress($event)" class="form-control"[ngClass]="{ 'is-invalid': (userForm.controls['confirmPassword'].hasError('NoPassswordMatch'))&& this.submitted}" id="confirmPassword" name="confirmPassword" autocomplete="off">
        </show-hide-password>
            <p *ngIf="userForm.controls['confirmPassword'].hasError('NoPassswordMatch')" id="confirmPassword_error1" style=" width: 100%;margin-top: .25rem;font-size: 80%;color: #dc3545;">Password do not match.</p>
        </div>

        <br>
        <div class="form-group is-invalid" style="text-align:center"> <!-- Register Button -->
            <button type="submit" class="btn btn-primary" >Register</button>
        </div>
    
    </form>	
</div>
</div>
<div class="row"style="margin-top: 70px;margin-right:10px;margin-left:5px" *ngIf="param=='Otp'">
        <br>
        
                <div class="col-md-4">
                  </div>
                  <div class="col-md-4">
        <div class="card card-outline-secondary">
            
            <div class="card-body">
                    <h5 class="mb-0" style="text-align:center">Login verification</h5>
                    <p style="font-size:14px;text-align:center;padding-top: 4%" >We sent a verification code to</p>
    
                    <p style="font-size:14px;text-align:center;padding-top: 3%" >Please check your phone for a text message with your code. Your code is 6 characters in length...</p>
                   
             
               <div style="Padding-top: 4%;"> 
                <form [formGroup]="otpForm" autocomplete="off" (ngSubmit)="onOTPSubmit()" >
                        <div class="form-group" style="padding-left: 12%;padding-right: 12%"> 
                                <!-- <label for="email" class="control-label txtcolor" style="font-size:14px;" >Username</label> -->
                                <input type="text" formControlName="otpCode" title="Received OTP. " 
                                class="form-control" 
                                id="otpCode" name="otpCode"  (keypress)="otpkeyPress($event)"  [ngClass]="{ 'is-invalid':(invalidOTP()) && this.submitted}" placeholder="Enter Code">
                                <p *ngIf="invalidOTP()" id="OTP_error" class="invalid-feedback">Invalid OTP.</p>
                            </div>
                <div style="text-align:center;padding-top:3%" >
                    <button type="submit" class="btn btn-outline-success">Submit</button>
                </div>
            </form>
            </div>
            </div>
        </div>
    </div>
    
      </div>
</div>


